# 示例环境变量配置
# 复制此文件并重命名为 .env，然后填入实际的值

# Nacos 配置
MIGRATION_NACOS_SERVER_ADDR=host.docker.internal:8848
MIGRATION_NACOS_NAMESPACE=public
MIGRATION_NACOS_USERNAME=nacos
MIGRATION_NACOS_PASSWORD=nacos
# MySQL 配置
SPRING_DATASOURCE_URL=jdbc:mysql://host.docker.internal:3306/migration?useUnicode=true&characterEncoding=utf-8&useSSL=false
SPRING_DATASOURCE_USERNAME=root
SPRING_DATASOURCE_PASSWORD=root
SPRING_PROFILES_ACTIVE=local