# 示例环境变量配置
# 复制此文件并重命名为 .env，然后填入实际的值

# Nacos 配置 (Admin)
MIGRATION_ADMIN_CONFIG_CENTER_SERVER_ADDR=host.docker.internal:8848
MIGRATION_ADMIN_CONFIG_CENTER_NAMESPACE=public
MIGRATION_ADMIN_CONFIG_CENTER_USERNAME=nacos
MIGRATION_ADMIN_CONFIG_CENTER_PASSWORD=nacos

# Nacos 配置 (Diff Service)
MIGRATION_DIFF_CONFIG_CENTER_SERVER_ADDR=host.docker.internal:8848
MIGRATION_DIFF_CONFIG_CENTER_META_INFO_NAMESPACE=public
MIGRATION_DIFF_CONFIG_CENTER_USERNAME=nacos
MIGRATION_DIFF_CONFIG_CENTER_PASSWORD=nacos

# host配置
HOST_IP=127.0.0.1

# 权限配置 (Admin)
MIGRATION_ADMIN_AUTH_USERNAME=admin
MIGRATION_ADMIN_AUTH_PASSWORD=password
MIGRATION_ADMIN_AUTH_JWT_SECRET=YOUR_VERY_SECURE_SECRET_KEY_12345
MIGRATION_ADMIN_AUTH_INTERNAL_TOKEN=MIGRATION_ADMIN_INTERNAL_TOKEN

# 权限配置 (Diff Service)
MIGRATION_DIFF_AUTH_INTERNAL_TOKEN=MIGRATION_DEFAULT_SDK_TOKEN

# MySQL 数据源配置
SPRING_DATASOURCE_URL=jdbc:mysql://host.docker.internal:3306/migration?useUnicode=true&characterEncoding=utf-8&useSSL=false
SPRING_DATASOURCE_USERNAME=root
SPRING_DATASOURCE_PASSWORD=root
SPRING_PROFILES_ACTIVE=local